{% load static %}
<!DOCTYPE HTML>
<HTML>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link href="{% static 'myproject/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <p>
        Good morning everyone! <br\>    
        <!-- form is different style than <p> ---->
        <form action="/form/" method="post">

            <!-- possible for loop for the questions -->
            {% csrf_token %}
            <h1> question 1 </h1> <br/>
            
            {{ form.answers1 }}

            <h1> question 2 </h1> <br/>

            {{ form.answers2 }}
            
            <h1> question 3 </h1> <br/>
            
            <p>{{ form.answers3 }}</p>
            
            <h1> question 4 </h1> <br/>
            
            {{ form.answers4 }}

            <h1> question 5 </h1> <br/>

            {{ form.answers5 }}
            
            <h1> question 6 </h1> <br/>
            
            <p>{{ form.answers6 }}</p>
            
            <h1> question 7 </h1> <br/>
            
            {{ form.answers7 }}

            <h1> question 8 </h1> <br/>

            {{ form.answers8 }}
            
            <h1> question 9 </h1> <br/>
            
            <p>{{ form.answers9 }}</p>
            
            <h1> question 10 </h1> <br/>
            
            {{ form.answers10 }}

            <br/><br/><br/>

            <input type="submit" value="Submit"> <!-- button -->
        </form>
    </p>
</body>
</HTML>