{% load static %}
<!DOCTYPE HTML>
<HTML>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link href="{% static 'myproject/style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
    <p>
        Good morning everyone! <br\>    
        <!-- form is different style than <p> ---->
        <form action="/form/" method="post">

            <!-- possible for loop for the questions -->
            {% csrf_token %}
            <h1> question 1 </h1> <br/>
            
            {{ form.answers1 }}
            <h1> question 2 </h1> <br/>
            {{ form.answers2 }}
            
            <h1> question 3 </h1> <br/>
            <p>{{ form.answers3 }}</p>

            <input type="submit" value="Submit"> <!-- button -->
        </form>
    </p>
</body>
</HTML>